{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://uk-deliveryserviceexternalapi.just-eat.co.uk:443/"
        }
    ],
    "info": {
        "contact": {
            "x-twitter": "JustEatUK"
        },
        "description": "<h2>Delivery Service API</h2><p>Some calls require HTTPS and an Authorization Key which will be provided by Just Eat.<p><p>The key needs to be provided in the header as follows: <b>Authorization: JE-API-KEY {Your-Key-Here}</b></p>",
        "title": "Just Eat UK",
        "version": "v1",
        "x-apisguru-categories": [
            "ecommerce"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_JustEatUK_profile_image.jpeg"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://uk-deliveryserviceexternalapi.just-eat.co.uk:443/swagger/docs/v1",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "just-eat.co.uk"
    },
    "paths": {
        "/Delivery/DeliverableRestaurants": {
            "get": {
                "deprecated": false,
                "description": "- This method requires the use of an Authorization Key.\r\n",
                "operationId": "Delivery_DeliverableRestaurants",
                "parameters": [
                    {
                        "in": "query",
                        "name": "toLat",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "double"
                        }
                    },
                    {
                        "in": "query",
                        "name": "toLon",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "double"
                        }
                    },
                    {
                        "in": "query",
                        "name": "toPostcode",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "access token",
                        "in": "header",
                        "name": "Authorization",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "DeliveryLocation": {
                                            "properties": {
                                                "Latitude": {
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "Longitude": {
                                                    "format": "double",
                                                    "type": "number"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "Restaurants": {
                                            "items": {
                                                "properties": {
                                                    "DeliveryDistanceInMetres": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "DeliveryDurationInSeconds": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "EstimatedWaitForDeliveryPickupInSeconds": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "Restaurant": {
                                                        "properties": {
                                                            "Latitude": {
                                                                "format": "double",
                                                                "type": "number"
                                                            },
                                                            "Longitude": {
                                                                "format": "double",
                                                                "type": "number"
                                                            },
                                                            "RestaurantId": {
                                                                "type": "string"
                                                            },
                                                            "RestaurantReference": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "properties": {
                                        "DeliveryLocation": {
                                            "properties": {
                                                "Latitude": {
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "Longitude": {
                                                    "format": "double",
                                                    "type": "number"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "Restaurants": {
                                            "items": {
                                                "properties": {
                                                    "DeliveryDistanceInMetres": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "DeliveryDurationInSeconds": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "EstimatedWaitForDeliveryPickupInSeconds": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "Restaurant": {
                                                        "properties": {
                                                            "Latitude": {
                                                                "format": "double",
                                                                "type": "number"
                                                            },
                                                            "Longitude": {
                                                                "format": "double",
                                                                "type": "number"
                                                            },
                                                            "RestaurantId": {
                                                                "type": "string"
                                                            },
                                                            "RestaurantReference": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "properties": {
                                        "DeliveryLocation": {
                                            "properties": {
                                                "Latitude": {
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "Longitude": {
                                                    "format": "double",
                                                    "type": "number"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "Restaurants": {
                                            "items": {
                                                "properties": {
                                                    "DeliveryDistanceInMetres": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "DeliveryDurationInSeconds": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "EstimatedWaitForDeliveryPickupInSeconds": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "Restaurant": {
                                                        "properties": {
                                                            "Latitude": {
                                                                "format": "double",
                                                                "type": "number"
                                                            },
                                                            "Longitude": {
                                                                "format": "double",
                                                                "type": "number"
                                                            },
                                                            "RestaurantId": {
                                                                "type": "string"
                                                            },
                                                            "RestaurantReference": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "properties": {
                                        "DeliveryLocation": {
                                            "properties": {
                                                "Latitude": {
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "Longitude": {
                                                    "format": "double",
                                                    "type": "number"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "Restaurants": {
                                            "items": {
                                                "properties": {
                                                    "DeliveryDistanceInMetres": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "DeliveryDurationInSeconds": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "EstimatedWaitForDeliveryPickupInSeconds": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "Restaurant": {
                                                        "properties": {
                                                            "Latitude": {
                                                                "format": "double",
                                                                "type": "number"
                                                            },
                                                            "Longitude": {
                                                                "format": "double",
                                                                "type": "number"
                                                            },
                                                            "RestaurantId": {
                                                                "type": "string"
                                                            },
                                                            "RestaurantReference": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Delivery"
                ]
            }
        },
        "/Delivery/Estimate": {
            "get": {
                "deprecated": false,
                "description": "- This method requires the use of an Authorization Key.\r\n",
                "operationId": "Delivery_Estimate",
                "parameters": [
                    {
                        "in": "query",
                        "name": "restaurantReference",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "toLat",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "toLon",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "toPostcode",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "access token",
                        "in": "header",
                        "name": "Authorization",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "DurationInMinutes": {
                                            "type": "string"
                                        },
                                        "RestaurantReference": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "properties": {
                                        "DurationInMinutes": {
                                            "type": "string"
                                        },
                                        "RestaurantReference": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "properties": {
                                        "DurationInMinutes": {
                                            "type": "string"
                                        },
                                        "RestaurantReference": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "properties": {
                                        "DurationInMinutes": {
                                            "type": "string"
                                        },
                                        "RestaurantReference": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Delivery"
                ]
            }
        },
        "/health/check": {
            "get": {
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Healthy": {
                                            "type": "boolean"
                                        },
                                        "Information": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "properties": {
                                        "Healthy": {
                                            "type": "boolean"
                                        },
                                        "Information": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "properties": {
                                        "Healthy": {
                                            "type": "boolean"
                                        },
                                        "Information": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "properties": {
                                        "Healthy": {
                                            "type": "boolean"
                                        },
                                        "Information": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Health"
                ]
            }
        },
        "/health/validate": {
            "get": {
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Healthy": {
                                            "type": "boolean"
                                        },
                                        "Information": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "properties": {
                                        "Healthy": {
                                            "type": "boolean"
                                        },
                                        "Information": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "properties": {
                                        "Healthy": {
                                            "type": "boolean"
                                        },
                                        "Information": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "properties": {
                                        "Healthy": {
                                            "type": "boolean"
                                        },
                                        "Information": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Health"
                ]
            }
        },
        "/healthcheck": {
            "get": {
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Healthy": {
                                            "type": "boolean"
                                        },
                                        "Information": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "properties": {
                                        "Healthy": {
                                            "type": "boolean"
                                        },
                                        "Information": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "properties": {
                                        "Healthy": {
                                            "type": "boolean"
                                        },
                                        "Information": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "properties": {
                                        "Healthy": {
                                            "type": "boolean"
                                        },
                                        "Information": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Health"
                ]
            }
        },
        "/orders/deliverystate/driverlocation": {
            "put": {
                "deprecated": false,
                "description": "- This method requires the use of an Authorization Key.\r\n",
                "operationId": "Delivery_BulkDriverLocations",
                "parameters": [
                    {
                        "description": "access token",
                        "in": "header",
                        "name": "Authorization",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Delivery"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "items": {
                                    "properties": {
                                        "Location": {
                                            "properties": {
                                                "Accuracy": {
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "Heading": {
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "Latitude": {
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "Longitude": {
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "Speed": {
                                                    "format": "double",
                                                    "type": "number"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "OrderId": {
                                            "type": "string"
                                        },
                                        "TimeStampWithUtcOffset": {
                                            "format": "date-time",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "items": {
                                    "properties": {
                                        "Location": {
                                            "properties": {
                                                "Accuracy": {
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "Heading": {
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "Latitude": {
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "Longitude": {
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "Speed": {
                                                    "format": "double",
                                                    "type": "number"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "OrderId": {
                                            "type": "string"
                                        },
                                        "TimeStampWithUtcOffset": {
                                            "format": "date-time",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "items": {
                                    "properties": {
                                        "Location": {
                                            "properties": {
                                                "Accuracy": {
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "Heading": {
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "Latitude": {
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "Longitude": {
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "Speed": {
                                                    "format": "double",
                                                    "type": "number"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "OrderId": {
                                            "type": "string"
                                        },
                                        "TimeStampWithUtcOffset": {
                                            "format": "date-time",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        },
                        "text/xml": {
                            "schema": {
                                "items": {
                                    "properties": {
                                        "Location": {
                                            "properties": {
                                                "Accuracy": {
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "Heading": {
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "Latitude": {
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "Longitude": {
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "Speed": {
                                                    "format": "double",
                                                    "type": "number"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "OrderId": {
                                            "type": "string"
                                        },
                                        "TimeStampWithUtcOffset": {
                                            "format": "date-time",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        },
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "items": {
                                    "properties": {
                                        "Location": {
                                            "properties": {
                                                "Accuracy": {
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "Heading": {
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "Latitude": {
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "Longitude": {
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "Speed": {
                                                    "format": "double",
                                                    "type": "number"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "OrderId": {
                                            "type": "string"
                                        },
                                        "TimeStampWithUtcOffset": {
                                            "format": "date-time",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/orders/{id}/deliverystate/atdeliveryaddress": {
            "put": {
                "deprecated": false,
                "description": "- This method requires the use of an Authorization Key.\r\n",
                "operationId": "Delivery_AtDeliveryAddress",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "access token",
                        "in": "header",
                        "name": "Authorization",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Delivery"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "Location": {
                                        "Accuracy": 12.923,
                                        "Heading": 312.29,
                                        "Latitude": 51.51641,
                                        "Longitude": -0.103198,
                                        "Speed": 4.12
                                    },
                                    "TimeStampWithUtcOffset": "2018-08-24T13:24:04.6852444+00:00"
                                },
                                "properties": {
                                    "Location": {
                                        "properties": {
                                            "Accuracy": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Heading": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Latitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Longitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Speed": {
                                                "format": "double",
                                                "type": "number"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "TimeStampWithUtcOffset": {
                                        "format": "date-time",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "example": {
                                    "Location": {
                                        "Accuracy": 12.923,
                                        "Heading": 312.29,
                                        "Latitude": 51.51641,
                                        "Longitude": -0.103198,
                                        "Speed": 4.12
                                    },
                                    "TimeStampWithUtcOffset": "2018-08-24T13:24:04.6852444+00:00"
                                },
                                "properties": {
                                    "Location": {
                                        "properties": {
                                            "Accuracy": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Heading": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Latitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Longitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Speed": {
                                                "format": "double",
                                                "type": "number"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "TimeStampWithUtcOffset": {
                                        "format": "date-time",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "example": {
                                    "Location": {
                                        "Accuracy": 12.923,
                                        "Heading": 312.29,
                                        "Latitude": 51.51641,
                                        "Longitude": -0.103198,
                                        "Speed": 4.12
                                    },
                                    "TimeStampWithUtcOffset": "2018-08-24T13:24:04.6852444+00:00"
                                },
                                "properties": {
                                    "Location": {
                                        "properties": {
                                            "Accuracy": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Heading": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Latitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Longitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Speed": {
                                                "format": "double",
                                                "type": "number"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "TimeStampWithUtcOffset": {
                                        "format": "date-time",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "text/xml": {
                            "schema": {
                                "example": {
                                    "Location": {
                                        "Accuracy": 12.923,
                                        "Heading": 312.29,
                                        "Latitude": 51.51641,
                                        "Longitude": -0.103198,
                                        "Speed": 4.12
                                    },
                                    "TimeStampWithUtcOffset": "2018-08-24T13:24:04.6852444+00:00"
                                },
                                "properties": {
                                    "Location": {
                                        "properties": {
                                            "Accuracy": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Heading": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Latitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Longitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Speed": {
                                                "format": "double",
                                                "type": "number"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "TimeStampWithUtcOffset": {
                                        "format": "date-time",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "example": {
                                    "Location": {
                                        "Accuracy": 12.923,
                                        "Heading": 312.29,
                                        "Latitude": 51.51641,
                                        "Longitude": -0.103198,
                                        "Speed": 4.12
                                    },
                                    "TimeStampWithUtcOffset": "2018-08-24T13:24:04.6852444+00:00"
                                },
                                "properties": {
                                    "Location": {
                                        "properties": {
                                            "Accuracy": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Heading": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Latitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Longitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Speed": {
                                                "format": "double",
                                                "type": "number"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "TimeStampWithUtcOffset": {
                                        "format": "date-time",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/orders/{id}/deliverystate/atrestaurant": {
            "put": {
                "deprecated": false,
                "description": "- This method requires the use of an Authorization Key.\r\n",
                "operationId": "Delivery_AtRestaurant",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "access token",
                        "in": "header",
                        "name": "Authorization",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Delivery"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "Location": {
                                        "Accuracy": 12.923,
                                        "Heading": 312.29,
                                        "Latitude": 51.51641,
                                        "Longitude": -0.103198,
                                        "Speed": 4.12
                                    },
                                    "TimeStampWithUtcOffset": "2018-08-24T13:24:04.6852444+00:00"
                                },
                                "properties": {
                                    "Location": {
                                        "properties": {
                                            "Accuracy": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Heading": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Latitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Longitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Speed": {
                                                "format": "double",
                                                "type": "number"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "TimeStampWithUtcOffset": {
                                        "format": "date-time",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "example": {
                                    "Location": {
                                        "Accuracy": 12.923,
                                        "Heading": 312.29,
                                        "Latitude": 51.51641,
                                        "Longitude": -0.103198,
                                        "Speed": 4.12
                                    },
                                    "TimeStampWithUtcOffset": "2018-08-24T13:24:04.6852444+00:00"
                                },
                                "properties": {
                                    "Location": {
                                        "properties": {
                                            "Accuracy": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Heading": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Latitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Longitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Speed": {
                                                "format": "double",
                                                "type": "number"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "TimeStampWithUtcOffset": {
                                        "format": "date-time",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "example": {
                                    "Location": {
                                        "Accuracy": 12.923,
                                        "Heading": 312.29,
                                        "Latitude": 51.51641,
                                        "Longitude": -0.103198,
                                        "Speed": 4.12
                                    },
                                    "TimeStampWithUtcOffset": "2018-08-24T13:24:04.6852444+00:00"
                                },
                                "properties": {
                                    "Location": {
                                        "properties": {
                                            "Accuracy": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Heading": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Latitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Longitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Speed": {
                                                "format": "double",
                                                "type": "number"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "TimeStampWithUtcOffset": {
                                        "format": "date-time",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "text/xml": {
                            "schema": {
                                "example": {
                                    "Location": {
                                        "Accuracy": 12.923,
                                        "Heading": 312.29,
                                        "Latitude": 51.51641,
                                        "Longitude": -0.103198,
                                        "Speed": 4.12
                                    },
                                    "TimeStampWithUtcOffset": "2018-08-24T13:24:04.6852444+00:00"
                                },
                                "properties": {
                                    "Location": {
                                        "properties": {
                                            "Accuracy": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Heading": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Latitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Longitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Speed": {
                                                "format": "double",
                                                "type": "number"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "TimeStampWithUtcOffset": {
                                        "format": "date-time",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "example": {
                                    "Location": {
                                        "Accuracy": 12.923,
                                        "Heading": 312.29,
                                        "Latitude": 51.51641,
                                        "Longitude": -0.103198,
                                        "Speed": 4.12
                                    },
                                    "TimeStampWithUtcOffset": "2018-08-24T13:24:04.6852444+00:00"
                                },
                                "properties": {
                                    "Location": {
                                        "properties": {
                                            "Accuracy": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Heading": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Latitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Longitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Speed": {
                                                "format": "double",
                                                "type": "number"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "TimeStampWithUtcOffset": {
                                        "format": "date-time",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/orders/{id}/deliverystate/delivered": {
            "put": {
                "deprecated": false,
                "description": "- This method requires the use of an Authorization Key.\r\n",
                "operationId": "Delivery_Delivered",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "access token",
                        "in": "header",
                        "name": "Authorization",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Delivery"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "Location": {
                                        "Accuracy": 12.923,
                                        "Heading": 312.29,
                                        "Latitude": 51.51641,
                                        "Longitude": -0.103198,
                                        "Speed": 4.12
                                    },
                                    "TimeStampWithUtcOffset": "2018-08-24T13:24:04.6852444+00:00"
                                },
                                "properties": {
                                    "Location": {
                                        "properties": {
                                            "Accuracy": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Heading": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Latitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Longitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Speed": {
                                                "format": "double",
                                                "type": "number"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "TimeStampWithUtcOffset": {
                                        "format": "date-time",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "example": {
                                    "Location": {
                                        "Accuracy": 12.923,
                                        "Heading": 312.29,
                                        "Latitude": 51.51641,
                                        "Longitude": -0.103198,
                                        "Speed": 4.12
                                    },
                                    "TimeStampWithUtcOffset": "2018-08-24T13:24:04.6852444+00:00"
                                },
                                "properties": {
                                    "Location": {
                                        "properties": {
                                            "Accuracy": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Heading": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Latitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Longitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Speed": {
                                                "format": "double",
                                                "type": "number"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "TimeStampWithUtcOffset": {
                                        "format": "date-time",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "example": {
                                    "Location": {
                                        "Accuracy": 12.923,
                                        "Heading": 312.29,
                                        "Latitude": 51.51641,
                                        "Longitude": -0.103198,
                                        "Speed": 4.12
                                    },
                                    "TimeStampWithUtcOffset": "2018-08-24T13:24:04.6852444+00:00"
                                },
                                "properties": {
                                    "Location": {
                                        "properties": {
                                            "Accuracy": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Heading": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Latitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Longitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Speed": {
                                                "format": "double",
                                                "type": "number"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "TimeStampWithUtcOffset": {
                                        "format": "date-time",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "text/xml": {
                            "schema": {
                                "example": {
                                    "Location": {
                                        "Accuracy": 12.923,
                                        "Heading": 312.29,
                                        "Latitude": 51.51641,
                                        "Longitude": -0.103198,
                                        "Speed": 4.12
                                    },
                                    "TimeStampWithUtcOffset": "2018-08-24T13:24:04.6852444+00:00"
                                },
                                "properties": {
                                    "Location": {
                                        "properties": {
                                            "Accuracy": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Heading": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Latitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Longitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Speed": {
                                                "format": "double",
                                                "type": "number"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "TimeStampWithUtcOffset": {
                                        "format": "date-time",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "example": {
                                    "Location": {
                                        "Accuracy": 12.923,
                                        "Heading": 312.29,
                                        "Latitude": 51.51641,
                                        "Longitude": -0.103198,
                                        "Speed": 4.12
                                    },
                                    "TimeStampWithUtcOffset": "2018-08-24T13:24:04.6852444+00:00"
                                },
                                "properties": {
                                    "Location": {
                                        "properties": {
                                            "Accuracy": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Heading": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Latitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Longitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Speed": {
                                                "format": "double",
                                                "type": "number"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "TimeStampWithUtcOffset": {
                                        "format": "date-time",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/orders/{id}/deliverystate/driverassigned": {
            "put": {
                "deprecated": false,
                "description": "- This method requires the use of an Authorization Key.\r\n",
                "operationId": "Delivery_DriverAssigned",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "access token",
                        "in": "header",
                        "name": "Authorization",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Delivery"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "DriverContactNumber": {
                                        "type": "string"
                                    },
                                    "DriverName": {
                                        "type": "string"
                                    },
                                    "EstimatedArrivalTime": {
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "Location": {
                                        "properties": {
                                            "Accuracy": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Heading": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Latitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Longitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Speed": {
                                                "format": "double",
                                                "type": "number"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "TimeStampWithUtcOffset": {
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "VehicleDetails": {
                                        "properties": {
                                            "Vehicle": {
                                                "type": "string"
                                            },
                                            "VehicleRegistration": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "properties": {
                                    "DriverContactNumber": {
                                        "type": "string"
                                    },
                                    "DriverName": {
                                        "type": "string"
                                    },
                                    "EstimatedArrivalTime": {
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "Location": {
                                        "properties": {
                                            "Accuracy": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Heading": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Latitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Longitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Speed": {
                                                "format": "double",
                                                "type": "number"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "TimeStampWithUtcOffset": {
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "VehicleDetails": {
                                        "properties": {
                                            "Vehicle": {
                                                "type": "string"
                                            },
                                            "VehicleRegistration": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "properties": {
                                    "DriverContactNumber": {
                                        "type": "string"
                                    },
                                    "DriverName": {
                                        "type": "string"
                                    },
                                    "EstimatedArrivalTime": {
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "Location": {
                                        "properties": {
                                            "Accuracy": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Heading": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Latitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Longitude": {
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "Speed": {
[...]
